.main-wrapper {
    width: 100%;
    min-height: 100svh;
    display: flex;
    flex-direction: row;
}

.list-group {
    flex-grow: 1;
}

#map {
    flex-grow: 3;
    background-color: red;
    height: 100svh;
}

.card.card-item {
    max-width:600px;
}